:root{
    /* Couleurs pour le background et le texte */
    --color-background-primary: #0D1117;
    --color-background-secondary: #161B22;
    --color-text-primary: #C9D1D9;
    --color-text-secondary: #8B949E;

    /* Couleurs pour les boutons */
    --color-button-primary: #58A6FF;
    --color-button-secondary: #1F6FEB;

    /* Couleurs pour les sémantiques */
    --color-success: #3FB950;
    --color-error: #F85149;
}

.back {


}

.titre1{


}

.list_user{


}

.ligne1{


}

.colonne1{


}

.colonne2{


}

.colonne3{


}

.colonne4{


}

.colonne5{


}

.colonne6{


}

.ligne2{


}

.colonne1-1{


}

.colonne1-2{


}

.colonne1-3{


}

.colonne1-4{


}

.colonne1-5{


}

.choix_role{


}

.option1{


}

.option2{


}

.modify_button{


}

.colonne1-6{


}

.delete_button{


}

.sous_titres1{


}

.name{


}

.name_for_create{


}

.email{


}

.email_for_create{


}

.adress{


}

.adress_for_create{


}

.password{


}

.password_for_create{


}

.role_for_create{


}

.type_role{


}

.option3{


}

.option4{


}

.create_validation{


}





